.navigation__container {
  ul {
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0;
    flex-wrap: wrap;
  }

  li {
    list-style-type: none;
    width: 100px;
    text-align: center;

    &:first-of-type {
      flex-basis: 100%;
      margin-bottom: 10px;
    }

    .navigation__header-icon {
      background-image: url("../logo.svg");
      background-repeat: no-repeat;
      background-position: center center;
      height: 30px;
    }

    a {
      letter-spacing: 2px;
      text-decoration: none;
      cursor: pointer;

      &.text-link-header {
        padding: 5px;
        opacity: 30%;
      }

      &.selected {
        border: 1px solid rgba(0, 0, 0, 1);
      }
    }
  }
}