.navigation__container {
  ul {
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0;
    flex-wrap: wrap;
  }

  a {
    letter-spacing: 2px;
    color: rgba(128, 128, 128, 0.4);
    text-decoration: none;
    cursor: pointer;

    &.text-link-header {
      padding: 5px;
    }

    &.selected {
      border: gray 1px solid;
    }
  }

  li {
    list-style-type: none;
    width: 100px;
    opacity: 10%;
    text-align: center;

    &:first-of-type {
      flex-basis: 100%;
      margin-bottom: 10px;
    }

    .navigation__header-icon {
      background-image: url("../logo.svg");
      background-repeat: no-repeat;
      background-position: center center;
      height: 30px;
    }
  }
}