.header-link {
  letter-spacing: 2px;
  color: rgba(128, 128, 128, 0.4);
  text-decoration: none;
  cursor: pointer;
}

.header__container {
  background-image: url("logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  height: 30px;
  width: 100%;
}

.navigation__container {
  ul {
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0;
    flex-wrap: wrap;
  }

  li {
    list-style-type: none;
    width: 50px;
    opacity: 10%;

    &:first-of-type {
      flex-basis: 100%;
    }

    .navigation__header-icon {
      background-image: url("logo.svg");
      background-repeat: no-repeat;
      background-position: center center;
      height: 30px;
    }
  }
}

.content__container {
  padding: 20px 50px 10px 50px;
}
